body {
  height: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d3d3d3;
}
.container {
  display: flex;
}
.draggable-box {
  text-align: center;
}
.box-padding {
  padding: 15px;
  margin: 15px;
}
.big-box-padding {
  padding-top: 50px;

  margin: 15px;
}
.white-box {
  background-color: white;
}
.circular-border {
  border-radius: 0.5rem;
}

.small-box {
  height: 7rem;
  width: 10rem;
}

.big-box {
  height: 10rem;
  width: 30%;
}
.no-style {
  list-style-type: none;
}

.row {
  flex-direction: row;
  margin-top: 0;
  padding-left: 0;
}
.col {
  flex-direction: column;
}

.subtitle {
  margin: 0;
  font-weight: 500;
  color: #aaa;
}
.title {
  margin-bottom: 10px;
  font-weight: bolder;
  opacity: 0.7;
}
